/* line 3, ../sass/style.scss */
p {
  margin-top: 5px;
}

/* line 7, ../sass/style.scss */
.panel-col-last {
  font-size: 14px;
  line-height: 18px;
}

/* line 12, ../sass/style.scss */
h4 {
  margin: 0px;
}

/* line 16, ../sass/style.scss */
ul {
  margin: 2px;
  padding: 6px;
  padding-left: 15px;
}
/* line 20, ../sass/style.scss */
ul li {
  padding-left: 1px;
  line-height: 150%;
}

/* line 26, ../sass/style.scss */
.front .panels-flexible-region-2-top {
  width: 100%;
}

/* line 31, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links p, .pane-top-menu-bar-links p {
  margin: 0px;
}
/* line 34, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .panel-col-top, .pane-top-menu-bar-links .panel-col-top {
  width: 100%;
}
/* line 36, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .panel-col-top .inside, .pane-top-menu-bar-links .panel-col-top .inside {
  margin: 0px;
}
/* line 40, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .center-wrapper, .pane-top-menu-bar-links .center-wrapper {
  height: 32px;
  margin-top: -4px;
  background: #0166FF;
  border: 1px solid #0166FF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
/* line 48, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .center-wrapper .inside, .pane-top-menu-bar-links .center-wrapper .inside {
  margin: 0px;
}
/* line 51, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .center-wrapper ul.menu, .pane-top-menu-bar-links .center-wrapper ul.menu {
  padding: 0px;
  margin: 0px 0px 0px 15px;
  overflow: hidden;
}
/* line 55, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .center-wrapper ul.menu li, .pane-top-menu-bar-links .center-wrapper ul.menu li {
  display: block;
  float: left;
  list-style: none;
  margin-right: 15px;
  margin-left: 5px;
}
/* line 61, ../sass/style.scss */
#block-panels-mini-top-menu-bar-links .center-wrapper ul.menu li a, .pane-top-menu-bar-links .center-wrapper ul.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  line-height: 32px;
  font-weight: bold;
}

/* line 73, ../sass/style.scss */
.top-menu {
  text-align: right;
  margin-right: 15px;
  font-size: 13px;
}
/* line 77, ../sass/style.scss */
.top-menu a {
  color: #FFF;
  text-decoration: none;
  line-height: 36px;
  padding-left: 30px;
}
/* line 82, ../sass/style.scss */
.top-menu a:hover {
  color: #333;
}

/* line 88, ../sass/style.scss */
.language-box {
  position: fixed;
  right: 2px;
  top: 40px;
  width: 150px;
  height: 30px;
}

/* line 97, ../sass/style.scss */
#get-involved h2.pane-title {
  background: #CDA2CD;
  border: 1px solid #CDA2CD;
  border-radius: 10px;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 2px #333;
  line-height: 29px;
  text-indent: 10px;
  margin: 0px;
}
/* line 108, ../sass/style.scss */
#get-involved .content {
  font-size: 1.1em;
}

/* line 114, ../sass/style.scss */
#in-the-news h2.pane-title {
  background: #57AE50;
  border: 1px solid #57AE50;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px #333;
  line-height: 29px;
  text-indent: 10px;
  margin: 0px;
}
/* line 125, ../sass/style.scss */
#in-the-news .content {
  font-size: 11px;
}
/* line 128, ../sass/style.scss */
#in-the-news p {
  padding-left: 20px;
  background: url(../images/blt_pin.jpg) no-repeat left top;
}

/* line 135, ../sass/style.scss */
#geogames p {
  margin: 0px;
}

/* line 140, ../sass/style.scss */
.panel-col-bottom {
  padding-top: 15px;
}

/* line 144, ../sass/style.scss */
#ad {
  background: #7FB3F0;
  border: 0px solid #7FB3F0;
  border-radius: 100px;
  width: 919px;
  height: 60px;
  overflow: hidden;
  margin: 10px auto;
}
/* line 152, ../sass/style.scss */
#ad a {
  width: 100%;
  height: 100%;
}
/* line 155, ../sass/style.scss */
#ad a img {
  float: right;
}

/* line 162, ../sass/style.scss */
.pane-menu-menu-journey-content-menu,
.journey-menu {
  background-color: #0066FF;
  color: white;
  border-radius: 15px;
  padding: 0px 12px;
  margin: 20px auto 10px;
}
/* line 168, ../sass/style.scss */
.pane-menu-menu-journey-content-menu:after,
.journey-menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 175, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu,
.journey-menu ul.menu {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 179, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li,
.journey-menu ul.menu li {
  float: left;
  display: block;
  margin-right: 20px;
}
/* line 183, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a,
.journey-menu ul.menu li a {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
  height: 32px;
  text-indent: -99999px;
}
/* line 190, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-home,
.journey-menu ul.menu li a.journey-home {
  width: 88px;
  background-image: url(../images/nav_Home_off.jpg);
}
/* line 193, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-home.active, .pane-menu-menu-journey-content-menu ul.menu li a.journey-home:hover,
.journey-menu ul.menu li a.journey-home.active,
.journey-menu ul.menu li a.journey-home:hover {
  background-image: url(../images/nav_Home.jpg);
}
/* line 197, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-logbook,
.journey-menu ul.menu li a.journey-logbook {
  width: 113px;
  background-image: url(../images/nav_Logbook_off.jpg);
}
/* line 200, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-logbook.active, .pane-menu-menu-journey-content-menu ul.menu li a.journey-logbook:hover,
.journey-menu ul.menu li a.journey-logbook.active,
.journey-menu ul.menu li a.journey-logbook:hover {
  background-image: url(../images/nav_Logbook.jpg);
}
/* line 204, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-notes,
.journey-menu ul.menu li a.journey-notes {
  width: 140px;
  background-image: url(../images/nav_Field-Notes_off.jpg);
}
/* line 207, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-notes.active, .pane-menu-menu-journey-content-menu ul.menu li a.journey-notes:hover,
.journey-menu ul.menu li a.journey-notes.active,
.journey-menu ul.menu li a.journey-notes:hover {
  background-image: url(../images/nav_Field-Notes.jpg);
}
/* line 211, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-journals,
.journey-menu ul.menu li a.journey-journals {
  width: 105px;
  background-image: url(../images/nav_Journals_off.jpg);
}
/* line 214, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-journals.active, .pane-menu-menu-journey-content-menu ul.menu li a.journey-journals:hover,
.journey-menu ul.menu li a.journey-journals.active,
.journey-menu ul.menu li a.journey-journals:hover {
  background-image: url(../images/nav_Journals.jpg);
}
/* line 218, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-albums,
.journey-menu ul.menu li a.journey-albums {
  width: 109px;
  background-image: url(../images/nav_albums_off.jpg);
}
/* line 221, ../sass/style.scss */
.pane-menu-menu-journey-content-menu ul.menu li a.journey-albums.active, .pane-menu-menu-journey-content-menu ul.menu li a.journey-albums:hover,
.journey-menu ul.menu li a.journey-albums.active,
.journey-menu ul.menu li a.journey-albums:hover {
  background-image: url(../images/nav_albums.jpg);
}

/* line 231, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu,
.pane-menu-menu-journey-travelers-menu-co {
  background-color: #FFD66A;
  border-radius: 10px;
  padding: 10px;
}
/* line 235, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu,
.pane-menu-menu-journey-travelers-menu-co ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 239, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu li,
.pane-menu-menu-journey-travelers-menu-co ul.menu li {
  list-style: none;
}
/* line 241, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu li a,
.pane-menu-menu-journey-travelers-menu-co ul.menu li a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 2px #999;
  text-decoration: none;
}
/* line 247, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu li a.travelers-bio,
.pane-menu-menu-journey-travelers-menu-co ul.menu li a.travelers-bio {
  letter-spacing: -1px;
  background: url(../images/traveler_bios.jpg) no-repeat left center;
  padding-left: 44px;
  display: block;
  height: 28px;
  line-height: 24px;
}
/* line 255, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu li a:hover,
.pane-menu-menu-journey-travelers-menu-co ul.menu li a:hover {
  color: #0066FF;
}
/* line 258, ../sass/style.scss */
.pane-menu-menu-journey-travelers-menu ul.menu li a.itinerary,
.pane-menu-menu-journey-travelers-menu-co ul.menu li a.itinerary {
  letter-spacing: 0px;
  background: url(../images/itinerary.jpg) no-repeat left center;
  padding-left: 44px;
  display: block;
  height: 31px;
  line-height: 29px;
  margin-top: 3px;
}

/* line 275, ../sass/style.scss */
.node-type-journey #main .center-wrapper .panel-col-first, .node-type-log-book #main .center-wrapper .panel-col-first, .node-type-journal #main .center-wrapper .panel-col-first {
  width: 180px;
  margin-right: 20px;
}
/* line 278, ../sass/style.scss */
.node-type-journey #main .center-wrapper .panel-col-first > .inside, .node-type-log-book #main .center-wrapper .panel-col-first > .inside, .node-type-journal #main .center-wrapper .panel-col-first > .inside {
  margin: 0px 0px 1em;
}
/* line 282, ../sass/style.scss */
.node-type-journey #main .center-wrapper .panel-col-last, .node-type-log-book #main .center-wrapper .panel-col-last, .node-type-journal #main .center-wrapper .panel-col-last {
  width: 720px;
}

/* line 289, ../sass/style.scss */
.center-front {
  margin-top: 12px;
  position: relative;
  padding-bottom: 20px;
}
/* line 294, ../sass/style.scss */
.center-front #frontbox {
  position: relative;
  height: 398px;
  background: #FFBA2E;
  border: 1px solid #FFBA2E;
  border-radius: 10px;
  margin: 0px auto;
}
/* line 301, ../sass/style.scss */
.center-front #frontbox .panel-col-first {
  width: 528px;
  height: auto;
  margin-left: 5px;
  float: left;
}
/* line 307, ../sass/style.scss */
.center-front #frontbox .panel-col-last {
  float: right;
  width: 400px;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}
/* line 314, ../sass/style.scss */
.center-front #frontbox .panel-col-last > .inside {
  margin: 0px;
}
/* line 320, ../sass/style.scss */
.center-front #frontbox > .pane-content .panel-col-first h2.pane-title {
  color: #fff;
  text-shadow: 2px 2px 2px #222;
  font-size: 2.6em;
  line-height: 22px;
  margin: 10px 0px 4px;
}
/* line 328, ../sass/style.scss */
.center-front #frontbox > .pane-content #journey-selector {
  line-height: 35px;
}
/* line 331, ../sass/style.scss */
.center-front #frontbox > .pane-content #featured-journey {
  background: #fff;
  height: 330px;
  padding: 10px 20px;
}
/* line 335, ../sass/style.scss */
.center-front #frontbox > .pane-content #featured-journey h2.pane-title {
  color: #1D4AFC;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  margin: 0px;
  background-image: url(../images/blt_globepin.jpg);
  background-repeat: no-repeat;
  padding-left: 20px;
}
/* line 347, ../sass/style.scss */
.center-front #frontbox > .pane-content #featured-journey .views-field-title a {
  color: #1D4AFC;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  line-height: 30px;
}

/* line 360, ../sass/style.scss */
.front #logo {
  display: none;
}

/* line 365, ../sass/style.scss */
.node-type-journey #logo {
  display: block;
}

/* line 370, ../sass/style.scss */
.pane-user-login {
  position: relative;
  float: right;
  margin-top: 5px;
}
/* line 374, ../sass/style.scss */
.pane-user-login .form-item {
  display: inline;
  float: left;
}
/* line 377, ../sass/style.scss */
.pane-user-login .form-item label {
  display: inline;
  color: #fff;
  font-size: 12px;
}
/* line 382, ../sass/style.scss */
.pane-user-login .form-item input {
  display: inline;
  width: 90px;
  margin-left: 0px;
}
/* line 387, ../sass/style.scss */
.pane-user-login .form-item label {
  margin-left: 10px;
}
/* line 389, ../sass/style.scss */
.pane-user-login .form-item label span.form-required {
  display: none;
}
/* line 394, ../sass/style.scss */
.pane-user-login .form-item, .pane-user-login .form-actions {
  margin: 0px;
}
/* line 397, ../sass/style.scss */
.pane-user-login .form-actions {
  float: right;
  margin: 0px 10px 0px 0px;
}
/* line 401, ../sass/style.scss */
.pane-user-login .form-submit {
  border: none;
  width: 50px;
  color: #fff;
  font-size: 12px;
  background: none;
  padding: 3px;
  margin-top: 2px;
  margin-left: 4px;
}
/* line 411, ../sass/style.scss */
.pane-user-login .item-list {
  display: none;
}

/* line 417, ../sass/style.scss */
#mini-panel-top_menu_bar_links .panel-col-first {
  width: 395px;
  height: 33px;
}
/* line 421, ../sass/style.scss */
#mini-panel-top_menu_bar_links .panel-col-last {
  width: 523px;
  height: 33px;
}

/* line 427, ../sass/style.scss */
.logged-in #mini-panel-top_menu_bar_links .pane-user-login {
  display: none;
}

/* line 431, ../sass/style.scss */
.not-logged-in #mini-panel-top_menu_bar_links #welcome-pane {
  display: none;
}

/* line 435, ../sass/style.scss */
.panels-flexible-region-2-center {
  width: 100%;
}

/* line 441, ../sass/style.scss */
.panels-flexible-region-2-bottom_center_,
.panels-flexible-region-2-bottom,
.panels-flexible-region-2-bottom_center {
  width: 33.333333333334%;
}

/* line 445, ../sass/style.scss */
#main {
  padding: 0px;
}

/* line 449, ../sass/style.scss */
.panel-2col .panel-col-first .inside {
  margin: 0px;
}

/* line 453, ../sass/style.scss */
.panel-2col .panel-separator {
  display: none;
}

/* line 457, ../sass/style.scss */
.tips {
  display: none;
}

/* line 461, ../sass/style.scss */
.bubble {
  width: 325px;
  height: 148px;
}
/* line 464, ../sass/style.scss */
.bubble .journal-info {
  border-bottom: 1px solid black;
  display: block;
}
/* line 467, ../sass/style.scss */
.bubble .journal-info .journal-title {
  font-weight: bold;
}
/* line 473, ../sass/style.scss */
.bubble .journal-body-contents {
  display: block;
  margin: 5px 0px;
}
/* line 476, ../sass/style.scss */
.bubble .journal-body-contents .journal-image {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 481, ../sass/style.scss */
.bubble .journal-body-contents .journal-body {
  display: block;
  clear: right;
}
/* line 486, ../sass/style.scss */
.bubble .journal-journey-link {
  display: block;
  border-top: 1px solid black;
}

/* line 494, ../sass/style.scss */
br {
  line-height: 2;
}

/* line 498, ../sass/style.scss */
#cboxClose {
  border: 0px solid;
}

/* line 503, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu, .pane-menu-menu-journey-field-notes-menu, .pane-menu-menu-journey-album-menu,
.pane-menu-menu-journey-logbook-menu-cont {
  background: #CDA2CD;
  border: 1px solid #CDA2CD;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 509, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu h2.pane-title, .pane-menu-menu-journey-field-notes-menu h2.pane-title, .pane-menu-menu-journey-album-menu h2.pane-title,
.pane-menu-menu-journey-logbook-menu-cont h2.pane-title {
  margin: 0px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #999;
  font-size: 2.4em;
}
/* line 518, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu, .pane-menu-menu-journey-field-notes-menu ul.menu, .pane-menu-menu-journey-album-menu ul.menu,
.pane-menu-menu-journey-logbook-menu-cont ul.menu {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* line 521, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li, .pane-menu-menu-journey-field-notes-menu ul.menu li, .pane-menu-menu-journey-album-menu ul.menu li,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li {
  list-style: none;
  margin-bottom: 3px;
}
/* line 524, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a, .pane-menu-menu-journey-field-notes-menu ul.menu li a, .pane-menu-menu-journey-album-menu ul.menu li a,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 2px #999;
  text-decoration: none;
  height: 30px;
  line-height: 28px;
  display: block;
}
/* line 533, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.travel-news, .pane-menu-menu-journey-field-notes-menu ul.menu li a.travel-news, .pane-menu-menu-journey-album-menu ul.menu li a.travel-news,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.travel-news {
  padding-left: 44px;
  background: url(../images/travelnews.jpg) no-repeat -4px top;
}
/* line 537, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.nature-news, .pane-menu-menu-journey-field-notes-menu ul.menu li a.nature-news, .pane-menu-menu-journey-album-menu ul.menu li a.nature-news,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.nature-news {
  padding-left: 44px;
  background: url(../images/naturenews.jpg) no-repeat -4px top;
}
/* line 541, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.our-news, .pane-menu-menu-journey-field-notes-menu ul.menu li a.our-news, .pane-menu-menu-journey-album-menu ul.menu li a.our-news,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.our-news {
  padding-left: 44px;
  background: url(../images/ournews.jpg) no-repeat left top;
}
/* line 545, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.daily-life, .pane-menu-menu-journey-field-notes-menu ul.menu li a.daily-life, .pane-menu-menu-journey-album-menu ul.menu li a.daily-life,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.daily-life {
  padding-left: 44px;
  background: url(../images/nav_fn_dailylife.jpg) no-repeat -1px top;
}
/* line 549, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.kids, .pane-menu-menu-journey-field-notes-menu ul.menu li a.kids, .pane-menu-menu-journey-album-menu ul.menu li a.kids,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.kids {
  padding-left: 44px;
  background: url(../images/nav_fn_kids.jpg) no-repeat -1px top;
}
/* line 553, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.food, .pane-menu-menu-journey-field-notes-menu ul.menu li a.food, .pane-menu-menu-journey-album-menu ul.menu li a.food,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.food {
  padding-left: 44px;
  background: url(../images/nav_fn_food.jpg) no-repeat -1px top;
}
/* line 557, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.nature, .pane-menu-menu-journey-field-notes-menu ul.menu li a.nature, .pane-menu-menu-journey-album-menu ul.menu li a.nature,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.nature {
  padding-left: 44px;
  background: url(../images/nav_fn_nature.jpg) no-repeat -1px top;
}
/* line 561, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.traditions, .pane-menu-menu-journey-field-notes-menu ul.menu li a.traditions, .pane-menu-menu-journey-album-menu ul.menu li a.traditions,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.traditions {
  padding-left: 44px;
  background: url(../images/nav_fn_traditions.jpg) no-repeat -1px top;
}
/* line 565, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.transportation, .pane-menu-menu-journey-field-notes-menu ul.menu li a.transportation, .pane-menu-menu-journey-album-menu ul.menu li a.transportation,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.transportation {
  padding-left: 44px;
  background: url(../images/nav_fn_transportation.jpg) no-repeat -1px top;
  letter-spacing: -1px;
}
/* line 570, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.communities, .pane-menu-menu-journey-field-notes-menu ul.menu li a.communities, .pane-menu-menu-journey-album-menu ul.menu li a.communities,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.communities {
  padding-left: 44px;
  background: url(../images/nav_fn_communities.jpg) no-repeat -1px top;
  letter-spacing: -1px;
}
/* line 575, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a.environment, .pane-menu-menu-journey-field-notes-menu ul.menu li a.environment, .pane-menu-menu-journey-album-menu ul.menu li a.environment,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.environment {
  padding-left: 44px;
  background: url(../images/nav_fn_environment.jpg) no-repeat -1px top;
}
/* line 580, ../sass/style.scss */
.pane-menu-menu-journey-logbook-menu ul.menu li a:hover, .pane-menu-menu-journey-logbook-menu ul.menu li a.active, .pane-menu-menu-journey-field-notes-menu ul.menu li a:hover, .pane-menu-menu-journey-field-notes-menu ul.menu li a.active, .pane-menu-menu-journey-album-menu ul.menu li a:hover, .pane-menu-menu-journey-album-menu ul.menu li a.active,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a:hover,
.pane-menu-menu-journey-logbook-menu-cont ul.menu li a.active {
  color: #0066FF;
}

/* line 588, ../sass/style.scss */
.panel-col-first #ctools-jump-menu {
  margin-bottom: 10px;
  text-align: center;
}

/* line 595, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location {
  background: #CDA2CD;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 1.4em;
  line-height: 1.5;
}
/* line 602, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location .field-content > span {
  background-image: url(../images/crn_top_lft.jpg);
  background-repeat: no-repeat;
  display: block;
  padding-left: 30px;
}
/* line 607, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location .field-content > span .current-location-label {
  text-transform: uppercase;
}
/* line 611, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location .views-field-body .field-content {
  font-size: 15px;
  padding: 0px 10px;
}
/* line 615, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location .views-row-1 {
  margin: -10px 0 0 -10px;
}
/* line 618, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_journey_location .views-field-nothing {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 624, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-albums table {
  margin: 0px;
  width: 100%;
}
/* line 628, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-albums table tr td {
  width: 178.75px;
  text-align: center;
  vertical-align: top;
}
/* line 632, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-albums table tr td img {
  border: 1px solid #000;
}
/* line 635, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-albums table tr td a {
  text-decoration: none;
  color: #0066FF;
}
/* line 643, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook {
  display: block;
  width: 480px;
  height: 215px;
  background: transparent url(../images/postcard.jpg) no-repeat left top;
  padding: 125px 30px 30px 30px;
}
/* line 650, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue {
  transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  /* IE 9 */
  -webkit-transform: rotate(1deg);
  /* Safari and Chrome */
  -o-transform: rotate(1deg);
  /* Opera */
  -moz-transform: rotate(1deg);
  /* Firefox */
}
/* line 656, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-location {
  float: left;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
}
/* line 663, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-location .title {
  font-weight: bold;
  display: block;
}
/* line 667, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-location .latitude {
  display: block;
}
/* line 670, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-location .longitude {
  display: block;
}
/* line 673, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-location .by-x {
  display: block;
}
/* line 677, ../sass/style.scss */
.view-journey-content.view-id-journey_content.view-display-id-recent_logbook .clue .clue-images {
  float: right;
  width: 300px;
}

/* line 687, ../sass/style.scss */
.view-journey-travelers.view-id-journey_travelers {
  margin-bottom: 5px;
}
/* line 689, ../sass/style.scss */
.view-journey-travelers.view-id-journey_travelers .views-field-name {
  font-size: 1.4em;
  font-weight: bold;
}
/* line 693, ../sass/style.scss */
.view-journey-travelers.view-id-journey_travelers table {
  width: 100%;
  margin: 0px;
}
/* line 700, ../sass/style.scss */
.view-journey-travelers.view-id-journey_travelers.view-display-id-default table tr td {
  text-align: center;
}

/* line 709, ../sass/style.scss */
.pane-welcome-messages, .pane-menu-menu-user-mail-menu {
  background: #6995EC;
  border: 1px solid #6995EC;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4em;
  box-shadow: 2px 2px 2px #888;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
/* line 719, ../sass/style.scss */
.pane-welcome-messages h2, .pane-menu-menu-user-mail-menu h2 {
  margin: 0px 0px 5px;
}
/* line 723, ../sass/style.scss */
.pane-welcome-messages .view-content a, .pane-menu-menu-user-mail-menu .view-content a {
  color: white;
  text-decoration: none;
}
/* line 728, ../sass/style.scss */
.pane-welcome-messages ul, .pane-menu-menu-user-mail-menu ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
/* line 731, ../sass/style.scss */
.pane-welcome-messages ul li, .pane-menu-menu-user-mail-menu ul li {
  list-style: none;
}
/* line 733, ../sass/style.scss */
.pane-welcome-messages ul li a, .pane-menu-menu-user-mail-menu ul li a {
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}

/* line 743, ../sass/style.scss */
form#views-form-user-messages-inbox td {
  padding: 2px 10px;
}

/* line 750, ../sass/style.scss */
.page-user .center-wrapper .panel-col-first {
  width: 180px;
  margin-right: 20px;
}
/* line 753, ../sass/style.scss */
.page-user .center-wrapper .panel-col-first .inside {
  margin: 0px;
}

/* line 760, ../sass/style.scss */
#panels-ipe-paneid-98 {
  margin-bottom: 10px;
}
/* line 762, ../sass/style.scss */
#panels-ipe-paneid-98 h2.pane-title {
  margin: 0px;
  background-image: url(../images/hdr_logbook.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 770, ../sass/style.scss */
#panels-ipe-paneid-98 p {
  margin: 0px;
}

/* line 775, ../sass/style.scss */
#panels-ipe-paneid-99 {
  margin-bottom: 10px;
}
/* line 777, ../sass/style.scss */
#panels-ipe-paneid-99 h2.pane-title {
  margin: 0px;
  background-image: url(../images/hdr_field-notes.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 785, ../sass/style.scss */
#panels-ipe-paneid-99 p {
  margin: 0px;
}

/* line 790, ../sass/style.scss */
#panels-ipe-paneid-100 {
  margin-bottom: 10px;
}
/* line 792, ../sass/style.scss */
#panels-ipe-paneid-100 h2.pane-title {
  margin: 0px;
  background-image: url(../images/hdr_journals.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 800, ../sass/style.scss */
#panels-ipe-paneid-100 p {
  margin: 0px;
}

/* line 806, ../sass/style.scss */
#dashboard .panels-flexible-region {
  background-repeat: no-repeat;
  width: 360px;
  height: 185px;
  background-position: top center;
}
/* line 811, ../sass/style.scss */
#dashboard .panels-flexible-region .inside {
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 185px;
  position: relative;
}
/* line 817, ../sass/style.scss */
#dashboard .panels-flexible-region.mail {
  background-image: url(../images/mail_head.jpg);
  margin-right: 20px;
}
/* line 820, ../sass/style.scss */
#dashboard .panels-flexible-region.mail .inside {
  background-image: url(../images/mail_bottom.jpg);
}
/* line 822, ../sass/style.scss */
#dashboard .panels-flexible-region.mail .inside .pane-user-messages {
  position: absolute;
  left: 0px;
  top: 65px;
}
/* line 826, ../sass/style.scss */
#dashboard .panels-flexible-region.mail .inside .pane-user-messages ul {
  margin: 0px;
}
/* line 832, ../sass/style.scss */
#dashboard .panels-flexible-region.articles {
  background-image: url(../images/hm_hdr_articles.jpg);
}
/* line 834, ../sass/style.scss */
#dashboard .panels-flexible-region.articles .inside {
  background-image: url(../images/hm_hdr_articles2.jpg);
}
/* line 836, ../sass/style.scss */
#dashboard .panels-flexible-region.articles .inside .pane-articles {
  position: absolute;
  left: 0px;
  top: 65px;
  padding-left: 20px;
}
/* line 841, ../sass/style.scss */
#dashboard .panels-flexible-region.articles .inside .pane-articles ul {
  margin: 0px;
}
/* line 847, ../sass/style.scss */
#dashboard .panels-flexible-region.whats-new {
  background-image: url(../images/hm_hdr_whatsnew.jpg);
}
/* line 849, ../sass/style.scss */
#dashboard .panels-flexible-region.whats-new .inside {
  background-image: url(../images/hm_hdr_whatsnew2.jpg);
}
/* line 853, ../sass/style.scss */
#dashboard .panels-flexible-region.calendar {
  background-image: url(../images/hm_hdr_calendar.jpg);
  margin-right: 20px;
}
/* line 856, ../sass/style.scss */
#dashboard .panels-flexible-region.calendar .inside {
  background-image: url(../images/hm_hdr_calendar2.jpg);
}
/* line 858, ../sass/style.scss */
#dashboard .panels-flexible-region.calendar .inside .pane-calendar {
  position: absolute;
  left: 0px;
  top: 65px;
}
/* line 862, ../sass/style.scss */
#dashboard .panels-flexible-region.calendar .inside .pane-calendar ul {
  margin: 0px;
}
/* line 868, ../sass/style.scss */
#dashboard .panels-flexible-region.media {
  background-image: url(../images/hm_hdr_media.jpg);
}
/* line 870, ../sass/style.scss */
#dashboard .panels-flexible-region.media .inside {
  background-image: url(../images/hm_hdr_media2.jpg);
}

/* line 878, ../sass/style.scss */
.page-user .panel-2col-stacked .panel-col-last {
  width: 740px;
}

/* line 886, ../sass/style.scss */
#block-menu-menu-user-media-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #006699;
  width: 100%;
  height: 28px;
}
/* line 893, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu {
  padding: 0px;
  margin: 0px;
}
/* line 896, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li {
  list-style: none;
  float: left;
  width: 24%;
}
/* line 900, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
  text-align: center;
  padding: 6px 10px;
  background-repeat: no-repeat;
  background-position: 25% center;
}
/* line 909, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a.user-mail {
  background-image: url(../images/navicon1.gif);
}
/* line 912, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a.user-articles {
  background-image: url(../images/navicon2.gif);
}
/* line 915, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a.user-media {
  background-image: url(../images/navicon3.gif);
}
/* line 918, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a.user-calendar {
  background-image: url(../images/navicon4.gif);
}
/* line 921, ../sass/style.scss */
#block-menu-menu-user-media-menu ul.menu li a.user-whats-new {
  background-image: url(../images/navicon_whatsnew.gif);
}

/* line 929, ../sass/style.scss */
#user-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: #1D4AFC;
  font-weight: bold;
  line-height: 1;
}
/* line 935, ../sass/style.scss */
#user-name p {
  margin: 0px;
}

/* line 942, ../sass/style.scss */
.page-user #page #page-inner {
  padding: 118px 20px 0px;
}
/* line 945, ../sass/style.scss */
.page-user #page #page-inner header a#logo {
  background-image: url(../images/hd_theme_landing.jpg);
  display: block;
  width: 980px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 28px;
}
/* line 953, ../sass/style.scss */
.page-user #page #page-inner header a#logo img {
  display: none;
}
/* line 961, ../sass/style.scss */
.page-user.page-user-mail #page #page-inner header a#logo {
  background-image: url(../images/hm_hdr_mail3.jpg);
}
/* line 966, ../sass/style.scss */
.page-user.page-user-articles #page #page-inner header a#logo {
  background-image: url(../images/hd_theme_articles3.jpg);
}
/* line 971, ../sass/style.scss */
.page-user.page-user-calendar #page #page-inner header a#logo {
  background-image: url(../images/hd_theme_calendar.jpg);
}
/* line 976, ../sass/style.scss */
.page-user.page-user-media #page #page-inner header a#logo {
  background-image: url(../images/hd_theme_media.jpg);
}
/* line 981, ../sass/style.scss */
.page-user.page-user-whats-new #page #page-inner header a#logo {
  background-image: url(../images/hd_theme_whatsnew.jpg);
}

/* line 993, ../sass/style.scss */
#recent-logbook h2.pane-title {
  background-image: url(../images/hdr_logbook.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  margin: 0px 0px 5px;
}
/* line 1000, ../sass/style.scss */
#recent-logbook .pane-content {
  font-size: 14px;
  line-height: 18px;
}

/* line 1007, ../sass/style.scss */
#recent-field-notes h2.pane-title {
  background-image: url(../images/hdr_field-notes.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  margin: 0px 0px 5px;
}
/* line 1014, ../sass/style.scss */
#recent-field-notes .pane-content {
  font-size: 14px;
  line-height: 18px;
}

/* line 1021, ../sass/style.scss */
#recent-journals h2.pane-title {
  background-image: url(../images/hdr_journals.jpg);
  background-repeat: no-repeat;
  height: 43px;
  text-indent: -9999px;
  margin: 0px 0px 5px;
}
/* line 1028, ../sass/style.scss */
#recent-journals .pane-content {
  font-size: 14px;
  line-height: 18px;
}

/* line 1035, ../sass/style.scss */
.pane-node h2.pane-title {
  margin-top: 0px;
}

/* line 1040, ../sass/style.scss */
.panel-2col-stacked .panel-col-last .inside {
  margin: 0px;
  padding: 0px;
}

/* line 1045, ../sass/style.scss */
#content {
  padding: 0px;
}

/* line 1049, ../sass/style.scss */
.page-user #main > #content > .tabs {
  display: none;
}

/* line 1053, ../sass/style.scss */
.page-user #main > #content > #page-title {
  font-size: 1.4em;
  margin: 10px 0px;
  color: #1D4AFC;
}

/* line 1059, ../sass/style.scss */
#page-title {
  font-size: 24px;
  float: right;
  margin-top: -40px;
  margin-right: 5px;
  color: #0166FF;
}

/* line 1067, ../sass/style.scss */
.panel-2col-stacked .panel-separator {
  margin: 0px;
}

/* line 1071, ../sass/style.scss */
.node-type-journey .pane-views {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* line 1076, ../sass/style.scss */
.view-display-id-attachment_2 table {
  margin: 0 0 0 0;
}

/* line 1080, ../sass/style.scss */
.pane-journey-content .views-field {
  margin-bottom: 10px;
}

/* line 1086, ../sass/style.scss */
#navigation ul.menu li {
  color: #1D4AFC;
  font-size: 14px;
}
/* line 1089, ../sass/style.scss */
#navigation ul.menu li a {
  text-decoration: none;
}

/* line 1096, ../sass/style.scss */
#admin-menu {
  margin-top: -30px;
}
