.hdr_FeaturedJourney {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #0166FF;
	text-decoration: none;
}
.text_body_sm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	line-height: 16px;
}
.text_body_sm_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0166FF;
	line-height: 16px;
	font-weight: bold;
}
.text_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 16px;
}
.text_body_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0066FF;
	text-decoration: underline;
	line-height: 16px;
}
.text_body_wht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
	font-weight: normal;
}
.text_body_wht_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
	text-decoration: underline;
}
.hd_bld_lg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1D4AFC;
	font-weight: bold;
	line-height: 18px;
}
.hd_bld_lg_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1D4AFC;
	font-weight: bold;
	line-height: 18px;
	text-decoration: underline;
}
.hd_bld_wht_lg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 18px;
}
.hd_bld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1D4AFC;
	font-weight: bold;
	line-height: 15px;
}
.hd_wht_bld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 15px;
}
.hd_wht_bld_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 15px;
	text-decoration: underline;
}
.hd_bld_wht_lg_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 18px;
	text-decoration: underline;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
}
.nav_Link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
}
.nav_Link_Bld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
.nav_Link2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #1D4AFC;
}
.nav_Link_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.Nav_Title_WhiteBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.footer_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
.footer_div_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #99FFBA;
	text-decoration: none;
	font-weight: normal;
}
